body {
  font-family: "Open Sans"; }

  footer {
    position: fixed;
    bottom: 0;
    right: 0;
    color: #000000;
    text-align: right;
    padding-right: 1rem; }

    * {
      margin: 5px; }

      p {
        line-height: 35px; }
