<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Color Theory </title>
    <link href="static/css/styles.css" rel="stylesheet"/>
		<script src="https://cdn.tailwindcss.com"></script>
		<style type="text/tailwindcss">
      @layer utilities {
      	.content-auto {
      		content-visibility: auto;
      	}
      }
		</style>
  </head>

  <body>
		<div class="flex flex-col">
			<!-- navbar -->
			<nav>
				<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
		      <div class="relative flex h-16 items-center justify-between">
		        <a href="/home"> The Chromatic BaNANAs </a>
		        <a href="/profile">Profile</a>
				    <a href="/logout">Log out</a>
				    <a href="/login">Log in</a>
					</div>
				</div>
	    </nav>

	    <main class="flex-grow">
	      <div>
	        {% block content %}
	        {% endblock %}
	      </div>
	    </main>

	    <footer>
	      Copyright © 2025 The Chromatic BaNANAs
	    </footer>
		</div>
  </body>
</html>
