<!DOCTYPE html>
<!--
The Chromatic BaNANAs: Amanda Tan, Anastasia Lee, Naomi Lai, and Nia Lam
SoftDev
P05: Color Theory for Dummies
2025-06-06
-->

{% extends 'base.html' %}

{% block content %}

<div>
  <p class="text-6xl"> Color Theory for Dummies </p>
  <p> by The Chromatic Bananas </p> 
</div>

<div id = "desc">
  <p style = "text-align: center">Color Theory for Dummies is a website that uses interactive examples, games, and images to teach dummies about the elusive concept that is color theory. Is the dress white and gold or is it black and blue? Is the sneaker grey and teal or white and pink? How does context change the way we perceive color? Just as your brain can change how you perceive color, we’ll challenge you to guess how the colors in different images have been manipulated. We present to you: Color Theory, made by dummies for dummies.</p>
</div>

<div class="imageContainer">
  <a id="imageLink" href="#">
    <img alt="" id="unsplashImage" />
  </a>
</div>

<script>
let clientID = "uWM9sQ5gmxuIo55YD6WvP2wa6w0gCi3gUeLc6qAY_T4";
let endpoint = `https://api.unsplash.com/photos/random/?client_id=${clientID}`;

let imageElement = document.querySelector("#unsplashImage");
let imageLink = document.querySelector("#imageLink");
let creator = document.querySelector("#creator")
fetch(endpoint)
  .then((response) => response.json())
  .then((jsonData) => {
    imageElement.src = jsonData.urls.full;
    imageLink.setAttribute("href", jsonData.links.html);
    creator.innerText = jsonData.user.name;
    creator.setAttribute("href", jsonData.user.portfolio_url);
  })
    .catch((error) => {
    console.log("Error: " + error);
  });
</script>

{% endblock %}
