<!--
The Chromatic BaNANAs: Amanda Tan, Anastasia Lee, Naomi Lai, and Nia Lam
SoftDev
P05: Color Theory for Dummies
2025-06-06
-->
<head>
    <title>Log in</title>
</head>

{% extends 'base.html' %}

{% block content %}

<br>
<!-- error messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container mt-3">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<!-- Login and registration forms -->
<div class="horizontal-flex">
  <div class="login-forms">
    <h4> Log In </h4>
    <form action="/login" method="POST">
      <input class="rounded-full border-2 outline-offset-4"type="text" name="username" placeholder="Username" required><br><br>
      <input type="password" name="password" placeholder="Password" required><br><br>
      <input type="submit" name="login" value="Login">
    </form>
  </div><br><br>

  <div class="login-forms">
    <h4> Sign Up </h4>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" required><br><br>
        <input type="password" name="password" placeholder="Password" required><br><br>
        <input type="password" name="confirm_pass" placeholder="Confirm Password"><br><br>
        <input type="submit" name="register" value="Register">
    </form>
  </div>

</div>

{% endblock %}
