<!--
The Chromatic BaNANAs: Amanda Tan, Anastasia Lee, Naomi Lai, and Nia Lam
SoftDev
P05: Color Theory for Dummies
2025-06-06
-->
<head>
    <title>Log in</title>
</head>

{% extends 'base.html' %}

{% block content %}

<br>
<!-- error messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container mt-3">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<!-- Login and registration forms -->
<div class="flex lg:flex-row sm:flex-col justify-center">
  <div class="lg:w-1/3">
    <form class="space-y-3" action="/login" method="POST">
      <h4 class="text-xl"> Log In </h4>
      <input class="rounded-full border-2 outline-offset-8 p-1 w-full" type="text" name="username" placeholder="Username" required><br>
      <input class="rounded-full border-2 outline-offset-8 p-1 w-full" type="password" name="password" placeholder="Password" required><br>
      <input class="rounded-full outline-offset-8 p-2 bg-neutral-200/60 w-full" type="submit" name="login" value="Login">
    </form>
  </div>

  <div class="lg:w-1/3">
    <form class="space-y-3" action="/login" method="POST">
      <h4 class="text-xl"> Sign Up </h4>
      <input class="rounded-full border-2 outline-offset-8 p-1 w-full" type="text" name="username" placeholder="Username" required><br>
      <input class="rounded-full border-2 outline-offset-8 p-1 w-full" type="password" name="password" placeholder="Password" required><br> 
      <input class="rounded-full border-2 outline-offset-8 p-1 w-full" type="password" name="confirm_pass" placeholder="Confirm Password"><br>
      <input class="rounded-full outline-offset-8 p-2 bg-neutral-200/60 w-full" type="submit" name="register" value="Register">
    </form>
  </div>
</div>

{% endblock %}
