<!--
The Chromatic BaNANAs: Amanda Tan, Anastasia Lee, Naomi Lai, and Nia Lam
SoftDev
P05: Color Theory for Dummies
2025-06-06
-->

<!DOCTYPE html>
<head>
  <title>Profile</title>
  <style>
      :root {
        --color1: {{c1}};
        --color2: {{c2}};
        --to: {{dir}};
      }
      body {
        background: linear-gradient(to var(--to), var(--color1) 0%, var(--color2) 100%);
        background-attachment: fixed;
      }
  </style>
</head>

{% extends 'base.html' %}

{% block content %}

<h1 class="text-6xl">Hello, {{ username }}!</h1>

<div class="flex justify-center">
  <div class="rounded-3xl lg:w-2/3 sm:w-full bg-neutral-50/40 p-6">
  <form method="POST">
    Select your favorite color gradient:
    <br>
    <label>Color 1:</label>
    <input type="color" id="color1" name="color1" value={{c1}}>
    <br>
    <label>Color 2:</label>
    <input type="color" id="color2" name="color2" value={{c2}}>
    <br><br>

    Direction:
    <div class="form-check">
      <input class="form-check-input" type="radio" name="to" id="top" value="0" {{d[0]}}>
      <label class="form-check-label" for="top"> ⬆️ </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="to" id="bottom" value="1" {{d[1]}}>
      <label class="form-check-label" for="bottom"> ⬇️ </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="to" id="right" value="2" {{d[2]}}>
      <label class="form-check-label" for="right"> ➡️ </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="to" id="bottom" value="3" {{d[3]}}>
      <label class="form-check-label" for="left"> ⬅️ </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="to" id="bottom" value="4" {{d[4]}}>
      <label class="form-check-label" for="left"> ↗️ </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="to" id="bottom" value="5" {{d[5]}}>
      <label class="form-check-label" for="left"> ↖️ </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="to" id="bottom" value="6" {{d[6]}}>
      <label class="form-check-label" for="left"> ↘️ </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="to" id="bottom" value="7" {{d[7]}}>
      <label class="form-check-label" for="left"> ↙️ </label>
    </div>
    <p><input class="rounded-full outline-offset-8 p-2 bg-neutral-50 px-4" type="submit" id="submitButton" value="Save"></p>
  </form>
  </div>
  <div class="rounded-3xl lg:w-2/3 sm:w-full bg-neutral-50/40 p-6">
    <h2 class="text-3xl"> Your Scores: </h2> <br>
    {% if check_random_scores %}
      <h2 class="text-xl">Random Adjustments:</h2>
      {% for s in random_scores %}
        {{s}} <br>
      {% endfor %}
      Average: {{avg}} <br>
      <br>
    {% endif %}
    {% if color_scores[0] + color_scores[1] != 0 %}
      <h2 class="text-xl">Color Viewing:</h2>
      Correct guesses: {{color_scores[0]}}<br>
      Incorrect guesses: {{color_scores[1]}}<br>
      Accuracy rate: {{acc}}
    {% endif %}
    {% if not check_random_scores and color_scores[0] + color_scores[1] == 0 %}
      None yet!
    {% endif %}
  </div>
</div>
{% endblock %}
