<!doctype html>
<!--
The Chromatic BaNANAs: Amanda Tan, Anastasia Lee, Naomi Lai, and Nia Lam
SoftDev
P05: Color Theory for Dummies
2025-06-06
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="static/css/styles.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      :root {
        --color1: #33ccff;
        --color2: #ff99cc;
        --to: top right;
      }
      body {
        font-size: x-large;
        background: linear-gradient(to var(--to), var(--color1) 0%, var(--color2) 100%);
        background-attachment: fixed;
      }
  </style>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <nav class="navbar navbar-expand-lg" style="background-color:powderblue;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="../static/logo.png" alt="The Chromatic BaNANAs" height="25">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/">Game</a>
            </li>
          </ul>

          <div class="mrt ml-auto">
          <ul class="navbar-nav">
          {% if logged_in %}
          <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/logout">Log out</a>
          </li>
          {% else %}
          <li class="nav-item">
              <a class="nav-link" href="/login">Log in</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
          </li>
          {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <h1>Hello, {{ username }}!</h1>
    </div>

    <form action="/profile" method="POST">
      Select your favorite color gradient:
      <br>
      <label>Color 1:</label>
      <input type="color" id="color1" name="color1" value="#33ccff">
      <br>
      <label>Color 2:</label>
      <input type="color" id="color2" name="color2" value="#ff99cc">
      
      <div class="form-check">
        <input class="form-check-input" type="radio" name="to" id="top" value="1" checked>
        <label class="form-check-label" for="top"> ⬆ </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="to" id="bottom" value="2">
        <label class="form-check-label" for="bottom"> ⬇ </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="to" id="right" value="3">
        <label class="form-check-label" for="right"> ➡ </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="to" id="bottom" value="4">
        <label class="form-check-label" for="left"> ⬅ </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="to" id="bottom" value="5">
        <label class="form-check-label" for="left"> ↗️ </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="to" id="bottom" value="6">
        <label class="form-check-label" for="left"> ↖️ </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="to" id="bottom" value="7">
        <label class="form-check-label" for="left"> ↘️ </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="to" id="bottom" value="8">
        <label class="form-check-label" for="left"> ↙️ </label>
      </div>
      <p><input type="submit" value="Save"></p>
    </form>
</body>
</html>
