<!--
The Chromatic BaNANAs: Amanda Tan, Anastasia Lee, Naomi Lai, and Nia Lam
SoftDev
P05: Color Theory for Dummies
2025-06-06
-->

<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

<style>
.imageContainer{
  width: 50%;
}
.imageContainer1{
  width: 50%;
  filter: saturate(50%);
}
</style>

<div class="imageContainer">
  <a id="imageLink" href="#">
    <img alt="" id="unsplashImage" />
  </a>
</div>

<div class="imageContainer1">
  <a id="imageLink" href="#">
    <img alt="" id="unsplashImage" />
  </a>
</div>

<script>
const clientID = "uWM9sQ5gmxuIo55YD6WvP2wa6w0gCi3gUeLc6qAY_T4";
const endpoint = `https://api.unsplash.com/photos/random/?client_id=${clientID}`;

const imageElement = document.querySelector("#unsplashImage");
const imageLink = document.querySelector("#imageLink");
const creator = document.querySelector("#creator")
fetch(endpoint)
.then((response) => response.json())
.then((jsonData) => {
    imageElement.src = jsonData.urls.full;
    imageLink.setAttribute("href", jsonData.links.html);
    creator.innerText = jsonData.user.name;
    creator.setAttribute("href", jsonData.user.portfolio_url);
})
.catch((error) => {
    console.error("Error: " + error);
});

// document.body.appendChild(imageElement);
// document.body.appendChild(imageElement);
</script>

{% endblock %}
